<!-- Modal Structure -->

<style>
  .pass-modal-header {
    padding: 5px 30px;
    margin-bottom: 0 !important;
  }

  .pass-modal-title {
    font-size: 1.2em;
  }

  #modal-kelola-password {
    width: 40% !important;
    transform: translateY(20%) !important;
  }

</style>
<div id="modal-kelola-password" class="modal">
  <div class="modal-content" style="padding: 0">
    <div class="pass-modal-header">
      <p class="pass-modal-title">Update Password</p>
    </div>
    <div class="divider"></div>
    <form id="form-password-baru">
      <div class="row">
          <div class="col s12">
            <div class="row center-block">
              <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <input type="text" id="username-kelola-password" class="autocomplete" name="username" autocomplete="off">
                <label for="username-kelola-password">Username User</label>
              </div>
              <div class="input-field col s12">
                <i class="material-icons prefix">vpn_key</i>
                <input type="text" id="username-kelola-password" class="autocomplete" name="password" autocomplete="off">
                <label for="username-kelola-password">Password Baru User</label>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="divider" style="margin-bottom: 10px"></div>

    <div class="modal-footer">
      <button id="submit-password-baru" type="submit" style="margin: 0 0 0 30px" class="left waves-effect waves-light btn">SIMPAN</button>
    </div>
  </form>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script src="js/kelola_password.js"></script>
<script>
  $('#a-kelola-password').on('click', function () {
    console.log('hoam')
    $('#modal-kelola-password').modal('open');
  })
  $('#form-password-baru').submit(function (e) {
    e.preventDefault()

    $.ajax({
      type: "POST",
      url: '/kelola_password',
      data: {
        data: $("#form-password-baru").serializeArray()
      },
      statusCode: {
        400: function (data) {
         swal(
            'Maaf...',
            data.responseText,
            'error'
          )
        },
        200: function (data) {
          $('#modal-kelola-password').modal('close')
          swal({
              title: "",
              text: data,
              type: "success",
              confirmButtonText: "Ok, Terimakasih"
            })
            .then(function () {
              setTimeout(function() {
                location.reload()
              }, 300)
            })
        }
      }
    });
  })

</script>
