#header {
  padding-bottom: 10px;
  margin-bottom: 0;
  padding-top: 10px;
  background-color: #ffffff;
  box-shadow: 0px 0px 2px #888;
}

#pic_pojok {
  padding-top: 10px;
  padding-left: 30px
}

#img-orang {
  margin: 0;
  background-color: #D95065;
  color: white;
}

a > li {
  border: 1px solid #E9E9E9
}

#welcome-text {
  padding-left: 15px;
  color: #878787;
}

#welcome {
  padding-left: 40px;
  padding-top: 5px;
}

#kiri {
  margin: 0;
  padding: 0;
}
.collection {
  margin: 0;
}

#header_right {
  height: 80px;
  background-color: #E9E9E9;
  padding: 0;
}

#kanan {
  padding: 0;
}

.small-label.text {
  font-size: 0.5em !important
}

.middle {
  margin: auto 0
}

.bulet {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 9px;
  margin-right: 20px;
  background-color: white;
}

li {
  height: 65px;
}

#logout-text {
  padding-top: 15px;
  padding-right: 10%;
}

li.collection-item {
  padding-left: 40px !important
}

#navigasi {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 500;
}

#close-icon {
  top: 7px;
  cursor: pointer;
}

#search {
  padding: 0 45px;
  background-color: white;
  border-bottom: none;
  border-radius: 5px;
  margin-bottom: 1em;
}

.input-field label {
  margin-left: 10px;
}

#sub-judul {
  font-size: 1.5rem;
  font-weight: 300;
  margin-left: 4%;
}

.active-collection {
  border-right: 4px solid #d95065 !important;
  background-color: #f7f7f7 !important;
}

.active-collection:hover {
}

th {
  padding: 15px 0px;
  font-weight: 500;
}

td {
  padding: 15px 20px;
  font-weight: 400;
}

.aksi-icon {
  margin-left: 8px;
  color: #B9B9B9;
  cursor: pointer;
}

.aksi-icon:hover {
  color: black;
}

.sm-text-capitalize {
  font-size: 1em;
  font-weight: 400;
  text-transform: capitalize;
}

#cetak_data_barang_btn {
  background-color: transparent !important;
  color: #7c7c7c;
}

#right-btn {
  background-color: #878787 !important;
  margin-right: 15px;
}

.modal-content {
  /*padding:  !important;*/
}

#modal-lihat-data {
  width: 40% !important;
  transform: translateY(20%) !important;
}

#modal-create-data {
  
}

.modal-title {
  font-size: 1.2em;
  margin: 0
}

#content-modal-lihat-data {
  padding: 17px 10px 0 30px !important
}

#btn-modal-submit {
  background-color: #E73567;
  text-transform: capitalize;
}

#btn-modal-submit:hover {
  background-color: #ff3a6f;
  text-transform: capitalize;
}

.modal-header {
  margin: 0 0 20px 0 !important;
}

.modal-middle-content {
  padding: 9px 30px;
}

.no-margin-left {
  margin-left: 0 !important;
}

.divider {
  margin-bottom: 20px;
}

.modal-subtitle {
  color: #bcbcbc;
  font-weight: 500;
}

#button-modal-header {
  margin-left: 40px;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

#button-modal-title {
  background-color: #878787;
  font-weight: 400;
  text-transform: capitalize;
  border-radius: 4px;
}

#modal-delete {
  width: 30%;
  transform: translateY(30%) !important;
  text-align: center;
}

#modal-close-icon {
  color: #EC0049;
  box-shadow: 0px 0px 1px #EC0049 !important;
  font-size: 2.5rem;
  font-weight: 500;
  border: 3px solid #EC0049;
  margin-right: 0;
}

#modal-delete-text {
  font-size: 1.2em;
}

#modal-delete-close-icon {
  padding: 14px;
}

.modal-close-icon {
  margin: 0 auto;
  margin-bottom: 17px;
  text-align: center;
}

.red-btn {
  background-color: #EC0049;
  padding: 0 17px;
  text-transform: capitalize;
}

#batalkan-btn:hover {
  background-color: #2196f3;
  color: white;
}

#saya-yakin-btn:hover {
  background-color: #fc004b;
}
