<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="styles/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="styles/keuangan.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.7.0/sweetalert2.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div id="header" class="row">
      <div class="col s3">
        <img src="images/pic_pojok.png" id="pic_pojok">
      </div>
      <div class="col s3">
        <div id="welcome" class="valign-wrapper">
          <i id="img-orang" class="material-icons bulet">accessibility</i>
          <span><span id="welcome-text">Selamat Datang,</span> Kasir </span>
        </div>
      </div>
      <div class="col s6">
        <div id="logout-text" class="valign-wrapper right">
          <a id="logout-colortext" href="/logout">Logout</a>
        </div>
      </div>
    </div>
    <nav>
      <div class="nav-wrapper">
        <div id="dashboardkasir" class="col s12">
          <a href="/dashboard" id="textdashboard" class="breadcrumb">Dashboard</a>
          <a href="#" id="textdashboard" class="breadcrumb">Kasir</a>
        </div>
      </div>
    </nav>
    <div class="row">
      <div class="col s6">
        <div class="row">
          <form class="col s12">
            <div id="marginrow" class="row">
              <div class="input-field col s6">
                <input id="idBarang" type="text" name="" class="autocomplete" onchange="autoFill()">
                <label class="idBarang" for="idBarang">ID Barang</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <input id="namaBarang" type="text" class="validate" disabled>
                <label class="namaBarang" for="namaBarang">Nama Barang</label>
              </div>
              <div class="input-field col s6">
                <input id="kategori" type="text" class="validate" disabled>
                <label class="kategori" for="kategori">Kategori</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <input id="kuantitas" type="number" class="validate" onkeyup="hargaJualFill()">
                <label class="kuantitas" for="kuantitas">Kuantitas</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <input id="hargaJual" type="text" class="validate">
                <label class="hargaJual" for="hargaJual">Harga Jual</label>
              </div>
              <div class="input-field col s6">
                <input id="diskon" type="number" name="diskon" onkeyup="hargaJualDiskon()">
                <label class="diskon" for="diskon">Diskon</label>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div id="kiritabel" class="col s6">
        <p id="margin-text-total">Total yang harus dibayarkan</p>
        <p id="harga">Rp <span id="hargaTotal">0</span></p>
        <p>Barang Penjualan</p>
        <table id="table-pembelian" class="centered bordered striped">
         <thead>
           <tr>
               <th>ID</th>
               <th>Name</th>
               <th>Jumlah</th>
               <th>Total</th>
               <th>Aksi</th>
           </tr>
         </thead>
         <tbody>
           <tr></tr>
         </tbody>
       </table>
      </div>
    </div>

    <div id="footer" class="row" style="margin-bottom: 0; padding-bottom: 20px">
      <div class="col s6">
        <div class="bottommarginbtn">
          <a onclick="addItem()" class="waves-effect waves-light btn" style="background-color: #828282">Lanjutkan ke Keranjang</a>
        </div>
      </div>
      <div class="col s6">
        <div class="valign-wrapper right bottommarginbtn">
          <a id="btn-footer-right" onclick="getTableData()" class="waves-effect waves-light btn" style="background-color: #828282">Lanjutkan ke Pembayaran</a>
        </div>
      </div>
    </div>

    {{> modal_lihat_data }}

    {{> modal_delete_notification }}

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.7.0/sweetalert2.min.js"></script>
    <script type="text/javascript" src="js/keuangan.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
      $('.modal').modal()
    })
    </script>
  </body>
</html>
